# Expressions

Regular computer keyboards do not include many math symbols, so we need to get creative with writing mathematical expressions. For example, for multiplication we use the asterisk `*`. For exponents, we use the double asterisk `**` . For division we use `/`. 

When we string operators together, Python must decide the **order** in which to evaluate the operations. The order is:

parenthesis

1.   parenthesis
2.   exponentiation
3.   multiplication, division, remainder
4.   addition and subtraction
5.   left to right

When in doubt, use parentheses. 

There are several different **types** of variables, literals, and constants. Operations such as `+` and `-` mean different things for different types of variables, so it is important to keep track of what type of variable Python has assigned. We can determine the type of a variable using the `type()` function.

In [0]:
type('hello')

str

In [0]:
type(1)

int

In [0]:
type(98.6)

float

Numeric variables can be converted between `float` and `int` types by using the `float()` and `int()` functions.

In [0]:
i = 42
type(i)

int

In [0]:
f = float(i)
type(f)

float

We can also convert variables between `str` and `int`, but only if the variable contains numbers only. For example, "123" can be either a string or an integer. "12G" can be a string only. Depending on the type, operations such as `+` have different meanings.

In [0]:
# this is a string
sval = '100.0'
sval = sval + '1'
print (sval)

100.01

In [0]:
# this is an integer
ival = 100.0
ival = ival + 1
print (ival)

101.0

The `input()` function instructs Python to read data from the user. The user input is stored as a string. If we want to read a number from the user, then we need to first read the number as a string, then convert it to `int` or `float`.

In [0]:
name = input('Who are you?')

Who are you?Dr. Chuck

In [0]:
print('Welcome', name)

Welcome Dr. Chuck

In [0]:
# convert the input to integer
inp = input('Europe floor?')

Europe floor?2

In [0]:
usf = int(inp) + 1
print ('US floor', usf)

US floor 3